<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.BannerInfoMapper" >


  <select id="findBannerInfoAll" resultType="hashmap"  >
    select * from t_banner_info where  `status` = 1
  </select>

  <select id="findBannerInfoAllByAppName" resultType="hashmap">
    SELECT * FROM t_banner_info
	WHERE `status` = 1 AND app_name = #{appName}
	ORDER BY score ASC, create_time DESC 
  </select>
  
  <!-- 新增轮播 -->
  <insert id="insertBanner" parameterType="hashmap">
  	insert into t_banner_info
	  	<trim prefix="(" suffixOverrides="," suffix=")">
	  		<if test="banner_id != null">
	  			banner_id,
	  		</if>
	  		<if test="banner_name != null">
	  			banner_name,
	  		</if>
	  		<if test="banner_img_url != null">
	  			banner_img_url,
	  		</if>
	  		<if test="banner_remarks != null">
	  			banner_remarks,
	  		</if>
	  		<if test="jump_url != null">
	  			jump_url,
	  		</if>
	  		<if test="create_time != null">
	  			create_time,
	  		</if>
	  		<if test="status != null">
	  			status,
	  		</if>
	  		<if test="app_name != null">
	  			app_name,
	  		</if>
	  		<if test="banner_type != null">
	  			banner_type,
	  		</if>
	  		<if test="score != null">
	  			score,
	  		</if>
	  	</trim>
	  	<trim prefix="values(" suffixOverrides="," suffix=")">
	  		<if test="banner_id != null">
	  			#{banner_id},
	  		</if>
	  		<if test="banner_name != null">
	  			#{banner_name},
	  		</if>
	  		<if test="banner_img_url != null">
	  			#{banner_img_url},
	  		</if>
	  		<if test="banner_remarks != null">
	  			#{banner_remarks},
	  		</if>
	  		<if test="jump_url != null">
	  			#{jump_url},
	  		</if>
	  		<if test="create_time != null">
	  			#{create_time},
	  		</if>
	  		<if test="status != null">
	  			#{status},
	  		</if>
	  		<if test="app_name != null">
	  			#{app_name},
	  		</if>
	  		<if test="banner_type != null">
	  			#{banner_type},
	  		</if>
	  		<if test="score != null">
	  			#{score},
	  		</if>
	  	</trim>	
  </insert>
  
  <!-- 根据map中的参数查询banner -->
  <select id="selectBannerInfoByMap" resultType="hashmap" parameterType="hashmap">
    SELECT * FROM t_banner_info
	<where>
		app_name = #{app_name}
		<if test="banner_name != null and banner_name != ''">
			and banner_name like '%${banner_name}%'
		</if>
		<if test="status != null and status != -1"><!-- -1标识搜索全部 -->
			and status = #{status}
		</if>
		<if test="banner_type != null and banner_type != -1"><!-- -1标识搜索全部 -->
			and banner_type = #{banner_type}
		</if>
		<if test="score != null and score != -1 and score != 0"><!-- score=-1表示获取首页；score=0表示上一页最后的数据没有优先级 -->
			and score <![CDATA[ > ]]> #{score} or score = 0
		</if>
		<if test='(score == null or score == -1 or score == 0) and create_time != null and create_time != "0"'>
			and create_time <![CDATA[ < ]]> #{create_time}
		</if>
	</where>
	order by score=0 asc, score asc, create_time desc
	<if test="page_count != null">
		limit #{page_count}
	</if>
  </select>
  
  <!-- 根据map中的参数查询banner总数 -->
  <select id="selectBannerCountByMap" parameterType="hashmap" resultType="int">
    SELECT count(*) FROM t_banner_info
	<where>
		app_name = #{app_name}
		<if test="banner_name != null and banner_name != ''">
			and banner_name like '%${banner_name}%'
		</if>
		<if test="status != null and status != -1"><!-- -1标识搜索全部 -->
			and status = #{status}
		</if>
		<if test="banner_type != null and banner_type != -1"><!-- -1标识搜索全部 -->
			and banner_type = #{banner_type}
		</if>
		<if test="score != null and score != -1 and score != 0"><!-- score=-1表示获取首页；score=0表示上一页最后的数据没有优先级 -->
			and score <![CDATA[ > ]]> #{score} or score = 0
		</if>
		<if test='(score == null or score == -1 or score == 0) and create_time != null and create_time != "0"'>
			and create_time <![CDATA[ < ]]> #{create_time}
		</if>
	</where>
  </select>
  
</mapper>