<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.BannerInfoMapper" >


  <select id="findBannerInfoAll" resultType="hashmap"  >
    select * from t_banner_info where  `status` = 1
  </select>

  <select id="findBannerInfoAllByAppName" resultType="hashmap"  >
    select * from t_banner_info where  `status` = 1 and app_name = #{appName}
  </select>
  
  <!-- 新增轮播 -->
  <insert id="insertBanner" parameterType="hashmap">
  	insert into t_banner_info
	  	<trim prefix="(" suffixOverrides="," suffix=")">
	  		<if test="banner_id != null">
	  			banner_id,
	  		</if>
	  		<if test="banner_name != null">
	  			banner_name,
	  		</if>
	  		<if test="banner_img_url != null">
	  			banner_img_url,
	  		</if>
	  		<if test="banner_remarks != null">
	  			banner_remarks,
	  		</if>
	  		<if test="jump_url != null">
	  			jump_url,
	  		</if>
	  		<if test="create_time != null">
	  			create_time,
	  		</if>
	  		<if test="status != null">
	  			status,
	  		</if>
	  		<if test="app_name != null">
	  			app_name,
	  		</if>
	  		<if test="banner_type != null">
	  			banner_type,
	  		</if>
	  		<if test="score != null">
	  			score,
	  		</if>
	  	</trim>
	  	<trim prefix="values(" suffixOverrides="," suffix=")">
	  		<if test="banner_id != null">
	  			#{banner_id},
	  		</if>
	  		<if test="banner_name != null">
	  			#{banner_name},
	  		</if>
	  		<if test="banner_img_url != null">
	  			#{banner_img_url},
	  		</if>
	  		<if test="banner_remarks != null">
	  			#{banner_remarks},
	  		</if>
	  		<if test="jump_url != null">
	  			#{jump_url},
	  		</if>
	  		<if test="create_time != null">
	  			#{create_time},
	  		</if>
	  		<if test="status != null">
	  			#{status},
	  		</if>
	  		<if test="app_name != null">
	  			#{app_name},
	  		</if>
	  		<if test="banner_type != null">
	  			#{banner_type},
	  		</if>
	  		<if test="score != null">
	  			#{score},
	  		</if>
	  	</trim>	
  </insert>
  
</mapper>