<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.ClassifyInfoMapper" >

  <select id="findClassifyInfo" resultType="hashmap">
    select * from t_classify_info where is_use=1
  </select>

  <select id="findClassifyInfoBy" resultType="hashmap">
    select * from t_classify_info where is_use=1 and app_names like #{}
  </select>
  
  <!-- 后台_新增分类 -->
  <insert id="insertClassifyInfo" parameterType="hashmap" >
    insert into t_classify_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classify_id != null" >
        classify_id,
      </if>
      <if test="classify_name != null" >
        classify_name,
      </if>
      <if test="is_use != null" >
        is_use,
      </if>
      <if test="create_date != null" >
        create_date,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="app_names != null" >
        app_names,
      </if>
      <if test="position != null" >
        position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classify_id != null" >
        #{classify_id,jdbcType=INTEGER},
      </if>
      <if test="classify_name != null" >
        #{classify_name,jdbcType=VARCHAR},
      </if>
      <if test="is_use != null" >
        #{is_use,jdbcType=INTEGER},
      </if>
      <if test="create_date != null" >
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=BIGINT},
      </if>
      <if test="app_names != null" >
        #{app_names,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 根据条件获取分类列表 -->
  <select id="findClassifyListByMap" resultType="hashmap" parameterType="hashmap">
    select * from t_classify_info
    <where>
    	app_names like '%${}%'
    	<if test="is_use != null">
    		and is_use = #{is_use}
    	</if>
    </where>
    order by position = -1 ASC<!-- -1排最后，主要是用于把“其他”放在最后 -->, 
    	position = 0 ASC<!-- 0排倒数第二 -->, 
    	position ASC <!-- position递增 -->
  </select>
  
  <!-- 更新分类 -->
  <update id="updateClassifyInfo" parameterType="hashmap" >
    update t_classify_info
    set
      <if test="classify_name != null and classify_name != '' " >
		classify_name = #{classify_name},
      </if>
      <if test="is_use != null" >
        is_use = #{is_use},
      </if>
      position = #{position}
      where classify_id = #{classify_id} and app_names LIKE '%${app_names}%'
  </update>
  
  <!-- 后台_获取各分类下课程数量 -->
  <select id="findCourseNumGroupByClassifyId" parameterType="hashmap" resultType="hashmap">
	SELECT classify_id, COUNT(classify_id) course_num
	FROM t_courses
	WHERE app_name = #{app_name} 
	<if test="classify_ids != null">
		AND classify_id IN (${classify_ids})
	</if>
	GROUP BY classify_id
  </select>
  <!-- 查找最后一条插入的记录 -->
  <select id="selectLastInsert" resultType="hashmap">
    SELECT
      *
    FROM
    `t_classify_info` t
    WHERE
    t.classify_id = (
    SELECT
    max(classify_id)
    FROM
    t_classify_info
    )
  </select>
</mapper>