<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.CourseMessageMapper" >

  <select id="findCourseMessageList" resultType="hashmap" parameterType="hashmap" >
    select cm.*, u.nick_name as creator_nick_name, u.avatar_address as creator_avatar_address
    from t_course_message cm join t_user u on cm.creator_id = u.user_id
    where 1 = 1
    and
    cm.course_id = #{course_id}
    <if test="message_pos != null" >
      and  cm.message_pos <![CDATA[ < ]]> #{message_pos}
    </if>
    <if test="send_type != null" >
      and  cm.send_type = #{send_type}
    </if>
    <if test="send_type_query != null" >
      and  cm.send_type = 0 or cm.send_type = 1
    </if>
    order by cm.message_pos desc
    limit #{page_count}
  </select>

  <insert id="insertCourseMessageList" parameterType="list" >
    insert into t_course_message (message_id, course_id, message,
    message_url, message_question,audio_image, audio_time,
    message_pos, message_type,send_type,message_imid,message_status,
    creator_id, create_time
    )
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.message_id}, #{item.course_id},
      <if test="item.message != null" >
        #{item.message},
      </if>
      <if test="item.message == null" >
        null,
      </if>
      <if test="item.message_url != null" >
        #{item.message_url},
      </if>
      <if test="item.message_url == null" >
        null,
      </if>
      <if test="item.message_question != null" >
        #{item.message_question},
      </if>
      <if test="item.message_question == null" >
        null,
      </if>
      <if test="item.audio_image != null">
        #{item.audio_image},
      </if>
      <if test="item.audio_image == null">
        null,
      </if>
      #{item.audio_time},
      #{item.message_pos},
      #{item.message_type},
      #{item.send_type},
      #{item.message_imid},
      #{item.message_status},
      #{item.creator_id},
      #{item.create_time})
    </foreach>
  </insert>
  message_id, course_id, message,
  message_url, message_question,audio_image, audio_time,
  message_pos, message_type,send_type,message_imid,message_status,
  creator_id, create_time
  <insert id="insertCourseMessageList" parameterType="list" >
    insert into t_course_message (message_id, course_id, message,
    message_url, message_question, audio_time,
    message_pos, message_type, send_type,
    creator_id, create_time,audio_image,message_imid,message_status
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.message_id},#{item.course_id},
      <if test="item.message != null" >
        #{item.message},
      </if>
      <if test="item.message == null" >
        null,
      </if>
      <if test="item.message_url != null" >
        #{item.message_url},
      </if>
      <if test="item.message_url == null" >
        null,
      </if>
      <if test="item.message_question != null" >
        #{item.message_question},
      </if>
      <if test="item.message_question == null" >
        null,
      </if>
      #{item.audio_time},#{item.message_pos},
      #{item.message_type},#{item.send_type},#{item.creator_id},#{item.create_time},
      #{item.audio_image},#{item.message_imid},#{item.message_status})
    </foreach>
  </insert>



  <select id="findCourseMessageMaxPos" resultType="hashmap" parameterType="string" >
    select * from t_course_message cm where cm.course_id = #{course_id} order by message_pos desc limit 1
  </select>


  <select id="findCourseMessageListByComm" resultType="hashmap" parameterType="hashmap" >
    select cm.*, u.nick_name as creator_nick_name, u.avatar_address as creator_avatar_address
    from t_course_message cm join t_user u on cm.creator_id = u.user_id
    <where>
      cm.course_id = #{course_id}
      <if test="user_type == 0" >
          and (cm.send_type = '0' or cm.send_type = '1' or cm.send_type = '4' or cm.send_type = '5' or cm.send_type = '6' or cm.send_type = '7')
      </if>
      <if test="user_type == 1" >
        and  (cm.send_type = '2' or cm.send_type = '3' )
      </if>
      <if test="direction != null and direction == 0 and message_imid != null">
        and  cm.message_pos <![CDATA[ < ]]>
        (select message_pos from t_course_message where message_imid = #{message_imid})
      </if>
      <if test="direction != null and direction == 1 and message_imid != null" >
        and  cm.message_pos <![CDATA[ > ]]>
        (select message_pos from t_course_message where message_imid = #{message_imid})
      </if>
      <if test="message_type != null">
        and  cm.message_type = #{message_type}
      </if>
    </where>
      order by cm.message_pos
      limit #{page_count}
  </select>

  <select id="findCourseMessageByComm" resultType="hashmap" parameterType="hashmap" >
    select cm.*, u.nick_name as creator_nick_name, u.avatar_address as creator_avatar_address
    from t_course_message cm join t_user u on cm.creator_id = u.user_id
    <where>
      cm.course_id = #{course_id} and cm.message_imid = #{message_imid}
    </where>
  </select>



  <select id="findCourseMessageSum" resultType="int" parameterType="hashmap" >
    select COUNT(*) from t_course_message
    <where>
      <if test="user_type == 0" >
        and (send_type = '0' or send_type = '1' or send_type = '4' or send_type = '5' or send_type = '6' or send_type = '7')
      </if>
      <if test="user_type == 1" >
        and  (send_type = '2' or send_type = '3' )
      </if>
      <if test="course_id != null">
        and course_id = #{course_id}
      </if>
      <if test="message_type != null">
        and  message_type = #{message_type}
      </if>
    </where>
  </select>
</mapper>