<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.CourseMapper" >

  <select id="findCourse" parameterType="hashmap" resultType="hashmap" >
    SELECT * FROM t_course
    <where>
      <if test="course_id != null" >
        course_id = #{course_id},
      </if>
      <if test="shop_id != null" >
        shop_id = #{shop_id},
      </if>
      <if test="classify_id != null" >
        classify_id = #{classify_id},
      </if>
      <if test="lecturer_id != null" >
        lecturer_id = #{lecturer_id},
      </if>
      <if test="series_id != null" >
        series_id = #{series_id},
      </if>
      <if test="course_title != null" >
        course_title LIKE #{course_title},
      </if>
      <if test="course_type != null" >
        course_type = #{course_type},
      </if>
      <if test="goods_type != null" >
        goods_type = #{goods_type},
      </if>
      <if test="series_course_updown != null" >
        series_course_updown = #{series_course_updown},
      </if>
      <if test="course_updown != null" >
        course_updown = #{course_updown},
      </if>
      <if test="shelves_sharing != null" >
        shelves_sharing = #{shelves_sharing},
      </if>
    </where>
    <if test='lposKey != null and lposKey =="LIVE_START_TIME"'>
      order by live_start_time asc limit #{page},20
    </if>
    <if test='lposKey != null and lposKey =="LIVE_END_TIME"'>
      order by live_end_time asc limit #{page},20
    </if>
    <if test='lposKey != null and lposKey =="FIRST_UP_TIME"'>
      order by first_up_time asc limit #{page},20
    </if>
    <if test='lposKey != null and lposKey =="CREATE_TIME"'>
      order by create_time asc limit #{page},20
    </if>
  </select>

  <select id="findCourseByCourseId" parameterType="java.lang.String" resultType="hashmap" >
    select * from t_course where course_id = #{course_id}
  </select>
  <select id="findCourseBySeriesId" parameterType="java.lang.String" resultType="hashmap" >
    SELECT
      t.course_id,
      t.course_title,
      t.course_url AS course_image,
      '0' AS type,
      t.create_time,
      t.student_num AS view_num,
      '' AS comment_num,
      t.series_course_updown AS 'status',
      t.course_updown AS is_single
    FROM
    `t_courses` t
    WHERE
    t.series_id = #{series_id}
    <if test="goods_type != null" >
      t.goods_type = #{series_id}
    </if>
    ORDER BY t.create_time DESC
   </select>

  <insert id="insertCourse" parameterType="hashmap" >
    insert into t_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="course_id != null" >
        course_id,
      </if>
      <if test="shop_id != null" >
        shop_id,
      </if>
      <if test="classify_id != null" >
        classify_id,
      </if>
      <if test="lecturer_id != null" >
        lecturer_id,
      </if>
      <if test="series_id != null" >
        series_id,
      </if>
      <if test="course_title != null" >
        course_title,
      </if>
      <if test="course_image != null" >
        course_image,
      </if>
      <if test="course_remark != null" >
        course_remark,
      </if>
      <if test="course_abstract != null" >
        course_abstract,
      </if>
      <if test="buy_tips != null" >
        buy_tips,
      </if>
      <if test="target_user != null" >
        target_user,
      </if>
      <if test="share_url != null" >
        share_url,
      </if>
      <if test="course_url != null" >
        course_url,
      </if>
      <if test="live_start_time != null" >
        live_start_time,
      </if>
      <if test="course_duration != null" >
        course_duration,
      </if>
      <if test="live_course_status != null" >
        live_course_status,
      </if>
      <if test="course_type != null" >
        course_type,
      </if>
      <if test="goods_type != null" >
        goods_type,
      </if>
      <if test="rq_code != null" >
        rq_code,
      </if>
      <if test="course_password != null" >
        course_password,
      </if>
      <if test="course_price != null" >
        course_price,
      </if>
      <if test="series_course_updown != null" >
        series_course_updown,
      </if>
      <if test="course_updown != null" >
        course_updown,
      </if>
      <if test="updown_time != null" >
        updown_time,
      </if>
      <if test="shelves_sharing != null" >
        shelves_sharing,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="distribution_proportion != null" >
        distribution_proportion,
      </if>
      <if test="first_up_time != null" >
        first_up_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="course_id != null" >
        #{course_id},
      </if>
      <if test="shop_id != null" >
        #{shop_id},
      </if>
      <if test="classify_id != null" >
        #{classify_id},
      </if>
      <if test="lecturer_id != null" >
        #{lecturer_id},
      </if>
      <if test="series_id != null" >
        #{series_id},
      </if>
      <if test="course_title != null" >
        #{course_title},
      </if>
      <if test="course_image != null" >
        #{course_image},
      </if>
      <if test="course_remark != null" >
        #{course_remark},
      </if>
      <if test="course_abstract != null" >
        #{course_abstract},
      </if>
      <if test="buy_tips != null" >
        #{buy_tips},
      </if>
      <if test="target_user != null" >
        #{target_user},
      </if>
      <if test="share_url != null" >
        #{share_url},
      </if>
      <if test="course_url != null" >
        #{course_url},
      </if>
      <if test="live_start_time != null" >
        #{live_start_time},
      </if>
      <if test="course_duration != null" >
        #{course_duration},
      </if>
      <if test="live_course_status != null" >
        #{live_course_status},
      </if>
      <if test="course_type != null" >
        #{course_type},
      </if>
      <if test="goods_type != null" >
        #{goods_type},
      </if>
      <if test="rq_code != null" >
        #{rq_code},
      </if>
      <if test="course_password != null" >
        #{course_password},
      </if>
      <if test="course_price != null" >
        #{course_price},
      </if>
      <if test="series_course_updown != null" >
        #{series_course_updown},
      </if>
      <if test="course_updown != null" >
        #{course_updown},
      </if>
      <if test="updown_time != null" >
        #{updown_time},
      </if>
      <if test="shelves_sharing != null" >
        #{shelves_sharing},
      </if>
      <if test="create_time != null" >
        #{create_time},
      </if>
      <if test="update_time != null" >
        #{update_time},
      </if>
      <if test="details != null" >
        #{details},
      </if>
      <if test="distribution_proportion != null" >
        #{distribution_proportion},
      </if>
      <if test="first_up_time != null" >
        #{first_up_time},
      </if>
    </trim>
  </insert>

  <update id="updateCourse" parameterType="hashmap" >
    update t_course
    <set >
      <if test="classify_id != null" >
        classify_id = #{classify_id},
      </if>
      <if test="series_id != null" >
        series_id = #{series_id},
      </if>
      <if test="course_title != null" >
        course_title = #{course_title},
      </if>
      <if test="course_image != null" >
        course_image = #{course_image},
      </if>
      <if test="course_abstract != null" >
        course_abstract = #{course_abstract},
      </if>
      <if test="buy_tips != null" >
        buy_tips = #{buy_tips},
      </if>
      <if test="target_user != null" >
        target_user = #{target_user},
      </if>
      <if test="course_url != null" >
        course_url = #{course_url},
      </if>
      <if test="live_start_time != null" >
        live_start_time = #{live_start_time},
      </if>
      <if test="live_end_time != null" >
        live_end_time = #{live_end_time},
      </if>
      <if test="live_course_status != null" >
        live_course_status = #{live_course_status},
      </if>
      <if test="course_duration != null" >
        course_duration = #{course_duration},
      </if>
      <if test="course_type != null" >
        course_type = #{course_type},
      </if>
      <if test="course_password != null" >
        course_password = #{course_password},
      </if>
      <if test="course_price != null" >
        course_price = #{course_price},
      </if>
      <if test="student_num != null" >
        student_num = #{student_num},
      </if>
      <if test="course_amount != null" >
        course_amount = #{course_amount},
      </if>
      <if test="extra_num != null" >
        extra_num = #{extra_num},
      </if>
      <if test="extra_amount != null" >
        extra_amount = #{extra_amount},
      </if>
      <if test="comment_num != null" >
        comment_num = #{comment_num},
      </if>
      <if test="click_num != null" >
        click_num = #{click_num},
      </if>
      <if test="series_course_updown != null" >
        series_course_updown = #{series_course_updown},
      </if>
      <if test="course_updown != null" >
        course_updown = #{course_updown},
      </if>
      <if test="shelves_sharing != null" >
        shelves_sharing = #{shelves_sharing},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time},
      </if>
      <if test="course_remark != null" >
        course_remark = #{course_remark},
      </if>
      <if test="details != null" >
        details = #{details},
      </if>
    </set>
    where course_id = #{course_id}
  </update>

  <select id="selectUpCourseListByShopId" parameterType="java.util.Map" resultType="hashmap" >
    SELECT
    t.course_id,
    t.course_title,
    t.course_updown AS status
    FROM
    `t_course` t
    WHERE
    t.shop_id = #{shop_id,jdbcType=VARCHAR}
    AND course_updown = '1'
    <if test="not_live != null">
      AND goods_type !=0
    </if>
    <if test="live != null">
      AND goods_type = 0
    </if>
    <if test="keyword != null" >
      and course_title like '%${keyword}%'
    </if>
    ORDER BY
    t.update_time DESC
  </select>

  <select id="findAllCourseBySeriesId" parameterType="java.util.Map" resultType="hashmap" >
    SELECT * FROM t_course WHERE series_id = #{series_id} ORDER BY create_time
  </select>
  <!--查询讲师总非直播课程数-->
  <select id="selectCountByUserId" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT
    count(*)
    FROM
    t_course t
    WHERE
    t.lecturer_id = #{userId}
    AND t.goods_type !=0
  </select>
  <select id="findLiveListByLiturere" resultType="hashmap" parameterType="hashmap" >
    SELECT
    t.course_id,
    t.course_title,
    t.course_url AS course_image,
    t.create_time,
    t.course_price,
    t.course_amount,
    t.student_num AS sale_num,
    t.course_updown,
    (t.start_time &lt; SYSDATE()) AS is_start,
    t.end_time
    FROM
    t_course t
    WHERE
    t.lecturer_id = #{user_id}
    <if test="keyword != null" >
      and t.course_title like '%${keyword}%'
    </if>
    <if test="course_updown != null" >
      AND course_updown = #{course_updown}
    </if>
    <if test="course_updown == null" >
      AND course_updown !=0
    </if>
    AND live_course_status !=3
    ORDER BY
    t.create_time DESC
  </select>

  <select id="selectCourseByShopId" resultType="hashmap" parameterType="hashmap" >
    select
      *
    from t_course res
    where res.shop_id = #{shop_id,jdbcType=VARCHAR}
    <if test="status != null" >
      and course_updown = #{status,jdbcType=CHAR}
    </if>
    <if test="type != null" >
      and goods_type = #{type,jdbcType=CHAR}
    </if>
    <if test="keyword != null" >
      and course_title like '%${keyword}%'
    </if>
    <if test="noseries != null" >
      and res.series_course_updown = '0'
    </if>
    AND  res.course_updown != '0'
    order by res.course_updown , res.updown_time desc
  </select>

</mapper>