<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.DistributerMapper" >
  <select id="findByDistributerId" resultType="hashmap" parameterType="java.lang.String" >
    select a.*, b.user_name,b.nick_name,b.avatar_address from t_distributer a, t_user b where a.distributer_id = #{distributer_id} and a.distributer_id=b.user_id
  </select>
  
  <select id="findDistributionInfoByDistributerId" resultType="hashmap" parameterType="hashmap" >
    select a.*,b.nick_name,b.avatar_address from t_room_distributer a, t_user b 
    where a.distributer_id=#{distributer_id} and a.lecturer_id=b.user_id
    <if test="room_id != null" >
		and a.room_id = #{room_id}
	</if>
	<if test="create_time != null" >
		and a.create_time<![CDATA[<]]>#{create_time} 
	</if>
	<if test="page_count != null" >
	  order by a.create_time desc limit #{page_count}
	</if>

  </select>
  
  <select id="findRoomDistributerRecommendInfo" resultType="hashmap" parameterType="hashmap" >
    select a.*,b.nick_name,b.avatar_address from t_room_distributer_recommend a, t_user b 
    where a.user_id=b.user_id and a.room_id=#{room_id} and a.distributer_id=#{distributer_id}
    <if test="position != null" >
		and a.position<![CDATA[<]]>#{position} 
	</if>
    order by a.position desc limit #{page_count}	
  </select>
  
  <select id="findRoomDistributerCourseInfo" resultType="hashmap" parameterType="hashmap" >
	select a.*,b.course_title,b.start_time,b.course_price from t_room_distributer_courses a, t_courses b
	where a.course_id=b.course_id and a.distributer_id=#{distributer_id} 
	<if test="room_id != null" >
		and a.room_id=#{room_id}
	</if>
	<if test="course_id != null" >
		and a.course_id=#{course_id}
	</if>
	<if test="start_time != null" >
		and b.start_time<![CDATA[<]]>#{start_time} 
	</if>
	<if test="page_count != null" >
		order by b.start_time desc limit #{page_count}
	</if>
  </select>
  
  <select id="findRoomDistributerCourseDetailsInfo" resultType="hashmap" parameterType="hashmap" >
  	select a.*,b.nick_name from t_lecturer_courses_profit a, t_user b 
  	where a.user_id=b.user_id and course_id=#{course_id} and distributer_id=#{distributer_id}
    <if test="position != null" >
		and a.position<![CDATA[<]]>#{position} 
	</if>
	order by a.position desc limit #{page_count}
  </select>

	<select id="findRoomDistributionInfoByDistributerId" resultType="hashmap" parameterType="hashmap" >
		select end_date,effective_time
		from t_room_distributer
		where distributer_id=#{distributer_id}
		<if test="room_id != null" >
			and a.room_id = #{room_id}
		</if>
	</select>
  	<insert id="insertDistributer" parameterType="hashmap">
		insert into t_distributer (distributer_id,create_time,update_time) values (#{distributer_id},#{current_time},#{current_time});
	</insert>
	<update id="updateDistributer" parameterType="hashmap" >
    update t_distributer
	<set>
	    <if test="total_amount != null" >
        	total_amount=#{total_amount},
      	</if>
      	<if test="update_time != null" >
        	update_time=#{update_time},
      	</if>	
	</set>
    where distributer_id = #{distributer_id}
    <if test="last_update_time != null" >
      	and update_time=#{last_update_time}
    </if>
	</update>
</mapper>