<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.LecturerDistributionInfoMapper" >
  <select id="findLecturerDistributionByLectureId" resultType="hashmap" parameterType="java.lang.String" >
    select * from t_lecturer_distribution_info where lecturer_id = #{user_id}
  </select>
  <insert id="insertLecturerDistributionInfo" parameterType="hashmap" >
    insert into t_lecturer_distribution_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lecturer_id != null" >
        lecturer_id,
      </if>
      <if test="live_room_num != null" >
        live_room_num,
      </if>
      <if test="room_distributer_num != null" >
        room_distributer_num,
      </if>
      <if test="room_recommend_num != null" >
        room_recommend_num,
      </if>
      <if test="room_done_num != null" >
        room_done_num,
      </if>
      <if test="course_distribution_num != null" >
        course_distribution_num,
      </if>
      <if test="course_distributer_num != null" >
        course_distributer_num,
      </if>
      <if test="course_recommend_num != null" >
        course_recommend_num,
      </if>
      <if test="course_done_num != null" >
        course_done_num,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lecturer_id != null" >
        #{lecturer_id},
      </if>
      <if test="live_room_num != null" >
        #{live_room_num},
      </if>
      <if test="room_distributer_num != null" >
        #{room_distributer_num},
      </if>
      <if test="room_recommend_num != null" >
        #{room_recommend_num},
      </if>
      <if test="room_done_num != null" >
        #{room_done_num},
      </if>
      <if test="course_distribution_num != null" >
        #{course_distribution_num},
      </if>
      <if test="course_distributer_num != null" >
        #{course_distributer_num},
      </if>
      <if test="course_recommend_num != null" >
        #{course_recommend_num},
      </if>
      <if test="course_done_num != null" >
        #{course_done_num},
      </if>
      <if test="create_time != null" >
        #{create_time},
      </if>
      <if test="update_time != null" >
        #{update_time},
      </if>
    </trim>
  </insert>

  <update id="updateLecturerDistributionInfo" parameterType="hashmap" >
    update t_lecturer_distribution_info
    <set >
      <if test="live_room_num != null" >
        live_room_num = #{live_room_num},
      </if>
      <if test="room_distributer_num != null" >
        room_distributer_num = #{room_distributer_num},
      </if>
      <if test="room_recommend_num != null" >
        room_recommend_num = #{room_recommend_num},
      </if>
      <if test="room_done_num != null" >
        room_done_num = #{room_done_num},
      </if>
      <if test="course_distribution_num != null" >
        course_distribution_num = #{course_distribution_num},
      </if>
      <if test="course_distributer_num != null" >
        course_distributer_num = #{course_distributer_num},
      </if>
      <if test="course_recommend_num != null" >
        course_recommend_num = #{course_recommend_num},
      </if>
      <if test="course_done_num != null" >
        course_done_num = #{course_done_num},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time},
      </if>
    </set>
    where lecturer_id = #{lecturer_id}
    <if test="last_update_time != null" >
    and update_time = #{last_update_time}
    </if>
  </update>
  
</mapper>