<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.RoomDistributerRecommendMapper" >

  <select id="findRoomDistributerRecommendAllInfo" resultType="hashmap" parameterType="hashmap" >
    select a.* from t_room_distributer_recommend a where room_id = #{room_id} and user_id = #{user_id}
    	and (a.end_date >= #{today_end_date} or a.end_date is null) limit 1
  </select>

  <select id="findRoomDistributerRecommendItem" resultType="hashmap" parameterType="hashmap" >
    select a.* from t_room_distributer_recommend a where room_id = #{room_id} and user_id = #{user_id}
  </select>

  <update id="studentBuyCourseUpdate" parameterType="hashmap" >
    update t_room_distributer_recommend
    set
    done_num = done_num + #{done_num},
    course_num = #{course_num} + course_num,
    update_time = #{update_time}
    where rq_code = #{rq_code,jdbcType=VARCHAR}
    and room_id = #{room_id}
    and user_id = #{user_id}
  </update>

  <insert id="insertRoomDistributerRecommend" parameterType="hashmap" >
    insert into t_room_distributer_recommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="distributer_recommend_id != null" >
        distributer_recommend_id,
      </if>
      <if test="distributer_id != null" >
        distributer_id,
      </if>
      <if test="room_id != null" >
        room_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="recommend_num != null" >
        recommend_num,
      </if>
      <if test="done_num != null" >
        done_num,
      </if>
      <if test="course_num != null" >
        course_num,
      </if>
      <if test="position != null" >
        `position`,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="end_date != null" >
        end_date,
      </if>
      <if test="rq_code != null" >
        rq_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="distributer_recommend_id != null" >
        #{distributer_recommend_id},
      </if>
      <if test="distributer_id != null" >
        #{distributer_id},
      </if>
      <if test="room_id != null" >
        #{room_id},
      </if>
      <if test="user_id != null" >
        #{user_id},
      </if>
      <if test="recommend_num != null" >
        #{recommend_num},
      </if>
      <if test="done_num != null" >
        #{done_num},
      </if>
      <if test="course_num != null" >
        #{course_num},
      </if>
      <if test="position != null" >
        #{position},
      </if>
      <if test="create_time != null" >
        #{create_time},
      </if>
      <if test="update_time != null" >
        #{update_time},
      </if>
      <if test="end_date != null" >
        #{end_date},
      </if>
      <if test="rq_code != null" >
        #{rq_code},
      </if>
    </trim>
  </insert>

  <update id="updateRoomDistributerRecommend" parameterType="hashmap" >
    update t_room_distributer_recommend
    <set >
      <if test="distributer_id != null" >
        distributer_id = #{distributer_id},
      </if>
      <if test="room_id != null" >
        room_id = #{room_id},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id},
      </if>
      <if test="recommend_num != null" >
        recommend_num = #{recommend_num},
      </if>
      <if test="done_num != null" >
        done_num = #{done_num},
      </if>
      <if test="course_num != null" >
        course_num = #{course_num},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time},
      </if>
      <if test="end_date != null" >
        end_date = #{end_date},
      </if>
      <if test="rq_code != null" >
        rq_code = #{rq_code},
      </if>
      `position` = #{position}
    </set>
    where distributer_recommend_id = #{distributer_recommend_id}
    <if test="last_update_time != null" >
        and update_time = #{last_update_time}
    </if>
  </update>

  <select id="findRoomRecommendUserList" resultType="hashmap" parameterType="hashmap" >
    select u.nick_name, u.avatar_address, rdr.done_num, rdr.create_time, rdr.end_date, rdr.position
    from t_room_distributer_recommend rdr join t_user u on u.user_id = rdr.user_id
    where rdr.room_id = #{room_id}
    <if test="distributer_id != null" >
    	and rdr.distributer_id = #{distributer_id}
    </if>
    <if test="rq_code != null" >
    	and rdr.rq_code=#{rq_code}
    </if>
    <if test="position != null" >
      and rdr.`position`  <![CDATA[ < ]]> #{position}
    </if>
    order by rdr.`position` desc
    limit #{page_count}
  </select>

</mapper>