<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.RoomDistributerMapper" >

  <select id="findAvailableRoomDistributer" resultMap="hashmap" parameterType="hashmap" >
    select * from t_room_distributer
    where room_id = #{room_id} and distributer_id = #{distributer_id} and (end_date is null or end_date >= #{current_date}) limit 1
  </select>
  <select id="findRoomDistributerInfoByRqCode" resultType="hashmap" parameterType="java.lang.String" >
    select * from t_room_distributer where rq_code = #{rq_code}
  </select>
  
  <select id="findRoomDistributerInfo" resultType="hashmap" parameterType="hashmap" >
    select a.*,b.nick_name,b.avatar_address from t_room_distributer a, t_user b where a.distributer_id=b.user_id and room_id = #{room_id}
    <if test="distributer_id != null">
      and distributer_id !=#{distributer_id}
    </if>
    order by total_amount desc, done_time desc limit
    <if test="position != 0">
      #{position},
    </if>
    #{limit_count}
  </select>
  
  
  <update id="increteRecommendNumForRoomDistributer" parameterType="hashmap" >
    update t_room_distributer
    set
    recommend_num = recommend_num + 1
    where
    distributer_id = #{distributer_id}
    and
    room_id = #{room_id}
    <if test="last_update_time != null" >
    update_time=#{last_update_time}
    </if>
  </update>
  
  <insert id="insertRoomDistributer" parameterType="hashmap" >
    insert into t_room_distributer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="room_distributer_id != null" >
        room_distributer_id,
      </if>
      <if test="distributer_id != null" >
        distributer_id,
      </if>
      <if test="lecturer_id != null" >
        lecturer_id,
      </if>
      <if test="room_id != null" >
        room_id,
      </if>
      <if test="recommend_num != null" >
        recommend_num,
      </if>
      <if test="course_num != null" >
        course_num,
      </if>
      <if test="done_num != null" >
        done_num,
      </if>
      <if test="profit_share_rate != null" >
        profit_share_rate,
      </if>
      <if test="total_amount != null" >
        total_amount,
      </if>
      <if test="effective_time != null" >
        effective_time,
      </if>
      <if test="end_date != null" >
        end_date,
      </if>
      <if test="rq_code != null" >
        rq_code,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="create_date != null" >
        create_date,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="done_time != null" >
        done_time,
      </if>
      <if test="click_num != null" >
        click_num,
      </if>
      <if test="lecturer_distribution_id != null" >
        lecturer_distribution_id,
      </if>            
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="room_distributer_id != null" >
        #{room_distributer_id},
      </if>
      <if test="distributer_id != null" >
        #{distributer_id},
      </if>
      <if test="lecturer_id != null" >
        #{lecturer_id},
      </if>
      <if test="room_id != null" >
        #{room_id},
      </if>
      <if test="recommend_num != null" >
        #{recommend_num},
      </if>
      <if test="course_num != null" >
        #{course_num},
      </if>
      <if test="done_num != null" >
        #{done_num},
      </if>
      <if test="profit_share_rate != null" >
        #{profit_share_rate},
      </if>
      <if test="total_amount != null" >
        #{total_amount},
      </if>
      <if test="effective_time != null" >
        #{effective_time},
      </if>
      <if test="end_date != null" >
        #{end_date},
      </if>
      <if test="rq_code != null" >
        #{rq_code},
      </if>
      <if test="create_time != null" >
        #{create_time},
      </if>
      <if test="create_date != null" >
        #{create_date},
      </if>
      <if test="update_time != null" >
        #{update_time},
      </if>
      <if test="done_time != null" >
        #{done_time},
      </if>
      <if test="click_num != null" >
        #{click_num},
      </if>
      <if test="lecturer_distribution_id != null" >
        #{lecturer_distribution_id},
      </if>            
    </trim>
  </insert>
  
  <update id="updateRoomDistributer" parameterType="hashmap" >
    update t_room_distributer
    <set >
      <if test="distributer_id != null" >
        distributer_id = #{distributer_id},
      </if>
      <if test="lecturer_id != null" >
        lecturer_id = #{lecturer_id},
      </if>
      <if test="room_id != null" >
        room_id = #{room_id},
      </if>
      <if test="recommend_num != null" >
        recommend_num = #{recommend_num},
      </if>
      <if test="course_num != null" >
        course_num = #{course_num},
      </if>
      <if test="done_num != null" >
        done_num = #{done_num},
      </if>
      <if test="profit_share_rate != null" >
        profit_share_rate = #{profit_share_rate},
      </if>
      <if test="total_amount != null" >
        total_amount = #{total_amount},
      </if>
      <if test="effective_time != null" >
        effective_time = #{effective_time},
      </if>
      <if test="end_date != null" >
        end_date = #{end_date},
      </if>
      <if test="rq_code != null" >
        rq_code = #{rq_code},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time},
      </if>
      <if test="create_date != null" >
        create_date = #{create_date},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time},
      </if>
      <if test="done_time != null" >
        done_time = #{done_time},
      </if>
      <if test="click_num != null" >
        click_num = #{click_num},
      </if>
      <if test="lecturer_distribution_id != null" >
        lecturer_distribution_id = #{lecturer_distribution_id},
      </if>            
    </set>
    where room_distributer_id = #{room_distributer_id}
    <if test="last_update_time != null" >
    	and update_time = #{last_update_time}
    </if>
  </update>
  
</mapper>