<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.SaaSShopMapper" >
  <sql id="Base_Column_List" >
    shop_id,room_id, user_id, user_name, shop_name, shop_url, shop_remark, shop_logo, open_url,
    weixin_code, status, create_time,open_sharing,lecturer_title,lecturer_identity
  </sql>
  <select id="selectByPrimaryKey" resultType="hashmap" parameterType="hashmap" >
    select * from t_saas_shop
    <where>
      <if test="shop_id != null" >
        shop_id = #{shop_id,jdbcType=VARCHAR}
      </if>
      <if test="user_id != null" >
       user_id = #{user_id,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectUserIdByShopId" resultType="java.lang.String" parameterType="java.lang.String" >
    select user_id from t_saas_shop where shop_id = #{shopId} limit 1
  </select>

  <select id="getShopInfoList" resultType="hashmap" parameterType="hashmap" >
    SELECT tshop.*,tlogin.account FROM t_saas_shop tshop,t_login_info tlogin
    WHERE tshop.user_id = tlogin.user_id
    <if test='lecturer_identity != null and lecturer_identity != ""' >
      AND tshop.lecturer_identity = #{lecturer_identity}
    </if>
    <if test="lecturer_name != null" >
      AND tshop.user_name LIKE #{lecturer_name}
    </if>
    <if test="create_from == 0" >
      AND tlogin.account IS NULL
    </if>
    <if test="create_from == 1" >
      AND tlogin.account IS NOT NULL
    </if>
    ORDER BY  tshop.create_time DESC
  </select>


  <select id="selectShopIdByUserId" resultType="java.lang.String" parameterType="java.lang.String" >
    select shop_id from t_saas_shop where user_id = #{userId} limit 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_saas_shop
    where shop_id = #{shop_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="hashmap" >
    insert into t_saas_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shop_id != null" >
        shop_id,
      </if>
      <if test="room_id != null" >
        room_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="user_name != null" >
        user_name,
      </if>
      <if test="shop_name != null" >
        shop_name,
      </if>
      <if test="shop_url != null" >
        shop_url,
      </if>
      <if test="shop_remark != null" >
        shop_remark,
      </if>
      <if test="shop_logo != null" >
        shop_logo,
      </if>
      <if test="open_url != null" >
        open_url,
      </if>
      <if test="weixin_code != null" >
        weixin_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="lecturer_identity != null" >
        lecturer_identity,
      </if>
      <if test="lecturer_title != null" >
        lecturer_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shop_id != null" >
        #{shop_id,jdbcType=VARCHAR},
      </if>
      <if test="room_id != null" >
        #{room_id,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="user_name != null" >
        #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="shop_name != null" >
        #{shop_name,jdbcType=VARCHAR},
      </if>
      <if test="shop_url != null" >
        #{shop_url,jdbcType=VARCHAR},
      </if>
      <if test="shop_remark != null" >
        #{shop_remark,jdbcType=VARCHAR},
      </if>
      <if test="shop_logo != null" >
        #{shop_logo,jdbcType=VARCHAR},
      </if>
      <if test="open_url != null" >
        #{open_url,jdbcType=VARCHAR},
      </if>
      <if test="weixin_code != null" >
        #{weixin_code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="lecturer_identity != null" >
        #{lecturer_identity},
      </if>
      <if test="lecturer_title != null" >
        #{lecturer_title},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="hashmap" >
    update t_saas_shop
    <set >
      <if test="user_id != null" >
        user_id = #{user_id},
      </if>
      <if test="room_id != null" >
        room_id = #{room_id},
      </if>
      <if test="user_name != null" >
        user_name = #{user_name},
      </if>
      <if test="shop_name != null" >
        shop_name = #{shop_name},
      </if>
      <if test="shop_url != null" >
        shop_url = #{shop_url},
      </if>
      <if test="shop_remark != null" >
        shop_remark = #{shop_remark},
      </if>
      <if test="shop_logo != null" >
        shop_logo = #{shop_logo},
      </if>
      <if test="open_url != null" >
        open_url = #{open_url},
      </if>
      <if test="weixin_code != null" >
        weixin_code = #{weixin_code},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time},
      </if>
      <if test="lecturer_identity != null" >
        lecturer_identity = #{lecturer_identity},
      </if>
      <if test="lecturer_title != null" >
        lecturer_title = #{lecturer_title},
      </if>
      <if test="open_sharing != null" >
        open_sharing = #{open_sharing},
      </if>
    </set>
    where
    <if test="shop_id != null" >
      shop_id = #{shop_id}
    </if>
    <if test="user_id != null" >
      user_id = #{user_id}
    </if>
  </update>

</mapper>