<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.UserMapper" >

  <select id="findByUserId" resultType="hashmap" parameterType="java.lang.String" >
    select * from t_user where user_id = #{user_id}
  </select>
  <select id="existByPhone" resultType="java.lang.Integer" parameterType="hashmap" >
    SELECT count(*) FROM t_user t WHERE t.phone_number = #{phone_number}
  </select>
  <select id="findByPhone" resultType="hashmap" parameterType="hashmap" >
    select * from t_user where phone_number = #{phone_number} and app_name = #{appName}
  </select>
  <update id="updateLiveRoomNumForUser" parameterType="hashmap" >
    update t_user
    set
    <!--关注操作类型 0关注 1不关注 -->
    <if test="follow_type == 0" >
      live_room_num = live_room_num + 1
    </if>
    <if test="follow_type == 1" >
      live_room_num = live_room_num - 1
    </if>
    where user_id = #{user_id}
  </update>
  
  <insert id="insertUser" parameterType="hashmap" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="user_name != null" >
        user_name,
      </if>
      <if test="nick_name != null" >
        nick_name,
      </if>
      <if test="avatar_address != null" >
        avatar_address,
      </if>
      <if test="phone_number != null" >
        phone_number,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="course_num != null" >
        course_num,
      </if>
      <if test="live_room_num != null" >
        live_room_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="plateform != null" >
        plateform,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="app_name != null" >
        app_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user_id != null" >
        #{user_id},
      </if>
      <if test="user_name != null" >
        #{user_name},
      </if>
      <if test="nick_name != null" >
        #{nick_name},
      </if>
      <if test="avatar_address != null" >
        #{avatar_address},
      </if>
      <if test="phone_number != null" >
        #{phone_number},
      </if>
      <if test="gender != null" >
        #{gender},
      </if>
      <if test="country != null" >
        #{country},
      </if>
      <if test="province != null" >
        #{province},
      </if>
      <if test="city != null" >
        #{city},
      </if>
      <if test="district != null" >
        #{district},
      </if>
      <if test="area != null" >
        #{area},
      </if>
      <if test="course_num != null" >
        #{course_num},
      </if>
      <if test="live_room_num != null" >
        #{live_room_num},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="plateform != null" >
        #{plateform},
      </if>
      <if test="last_login_time != null" >
        #{last_login_time},
      </if>
      <if test="last_login_ip != null" >
        #{last_login_ip},
      </if>            
      <if test="create_time != null" >
        #{create_time},
      </if>
      <if test="update_time != null" >
        #{update_time},
      </if>
      <if test="app_name != null" >
        #{app_name},
      </if>
    </trim>
  </insert>

  <update id="updateUser" parameterType="hashmap">
    update t_user
    <set>
      <if test="user_name != null" >
        user_name = #{user_name},
      </if>
      <if test="nick_name != null" >
        nick_name = #{nick_name},
      </if>
      <if test="avatar_address != null" >
        avatar_address = #{avatar_address},
      </if>
      <if test="phone_number != null" >
        phone_number = #{phone_number}, 
      </if>
      <if test="gender != null" >
        gender = #{gender},
      </if>
      <if test="country != null" >
        country = #{country},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="district != null" >
        district = #{district},
      </if>
      <if test="area != null" >
        area = #{area},
      </if>
      <if test="courseNum != null" >
        course_num = #{course_num},
      </if>
      <if test="liveRoomNum != null" >
        live_room_num = #{live_room_num},
      </if>
      <if test="status != null" >
        status=#{status},
      </if>
      <if test="plateform != null" >
        plateform = #{plateform},
      </if>
      <if test="createTime != null" >
        create_time = #{create_time},
      </if>
      <if test="update_time != null" >     
        update_time = #{update_time},
      </if>
    </set>
    where user_id = #{user_id}
    <if test="last_update_time != null" >
       and update_time=#{last_update_time}
    </if>
  </update>

  <select id="findRobotUsers" resultType="hashmap" parameterType="java.lang.String">
    SELECT * FROM t_user WHERE user_role = #{user_role} limit 500
  </select>
  
  <!-- 获取没有t_user_gains记录的user_id -->
  <select id="selectNotGainsUserId"  resultType="hashmap">
    select t_login_info.user_id as user_id,
    t_login_info.app_name as app_name,
    IFNULL(t_live_room.total_amount,0)  as live_room_total_amount,
    IFNULL(t_distributer.total_amount,0)  as distributer_total_amount,
    IFNULL((t_live_room.total_amount + t_distributer.total_amount),0) as  user_total_amount
    from
    t_login_info LEFT JOIN t_live_room on t_login_info.user_id = t_live_room.lecturer_id LEFT JOIN
    t_distributer on t_login_info.user_id =  t_distributer.distributer_id
    limit #{page_num},#{page_count}
  </select>

</mapper>