<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.db.common.mybatis.persistence.WithdrawCashMapper" >
  
  <insert id="insertWithdrawCash" parameterType="list">
    insert into t_withdraw_cash
    (withdraw_cash_id,
    user_id,
    user_name,
    nick_name,
    user_phone,
    alipay_account_number,
    web_openid,
    initial_amount,
    actual_amount,
    state,
    remark,
    create_time,
    update_time )
    values
    <foreach collection ="list" item="item" index= "index" separator =",">
      (#{item.withdraw_cash_id},
      #{item.user_id},
      #{item.user_name},
      #{item.nick_name},
      #{item.user_phone},
      #{item.alipay_account_number},
      #{item.web_openid},
      #{item.initial_amount},
      #{item.actual_amount},
      #{item.state},
      #{item.remark},
      #{item.create_time},
      #{item.update_time})
    </foreach>
  </insert>

  <insert id="insertWithdrawCashByNewUser" parameterType="hashmap">
    insert into t_withdraw_cash
    (withdraw_cash_id,
    user_id,
    user_name,
    nick_name,
    user_phone,
    <if test="alipay_account_number != null" >
    alipay_account_number,
    </if>
    <if test="web_openid != null" >
      web_openid,
    </if>
    initial_amount,
    actual_amount,
    state,
    remark,
    create_time,
    update_time )
    values
      (#{withdraw_cash_id},
      #{user_id},
      #{user_name},
      #{nick_name},
      #{user_phone},
    <if test="alipay_account_number != null" >
      #{alipay_account_number},
    </if>
    <if test="web_openid != null" >
      #{web_openid},
    </if>
      #{initial_amount},
      #{actual_amount},
      #{state},
      #{remark},
      #{create_time},
      #{update_time})
  </insert>

  <update id="updateWithdrawCash" parameterType="hashmap">
    update t_withdraw_cash
    <set>
      <if test="actual_amount != null" >
        actual_amount = #{actual_amount},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time},
      </if>
    </set>
    where  withdraw_cash_id = #{withdraw_cash_id}
  </update>

  <select id="findWithdrawCashByUser" parameterType="hashmap" resultType="hashmap">
   select * from t_withdraw_cash where user_id = #{user_id}
    <if test="state != null" >
      and state = #{state}
    </if>
    <if test="withdraw_cash_id != null" >
      and withdraw_cash_id = #{withdraw_cash_id}
    </if>
    order by create_time desc limit #{page_num},#{page_count}
  </select>

	<!-- 获取用户提现成功总金额 -->
	<select id="selectUserWithdrawSum" resultType="hashmap" parameterType="string">
		select user_id, SUM(actual_amount) sum
		from t_withdraw_cash
		where `state` = 1
			<foreach collection="list" item="userId" open=" and user_id in (" separator="," close=")">
  				#{userId}
  			</foreach>
  		GROUP BY user_id
	</select>
	<!-- 分页查询-用户提现记录 -->
	<select id="selectWithdrawList" resultType="hashmap" parameterType="string">
      SELECT
          t.actual_amount,
          t.create_time,
          t.state as status,
          t.remark
      FROM
          `t_withdraw_cash` t
      WHERE t.user_id = #{userId}
      <if test="create_time != null" >
        AND t.create_time &gt; #{create_time}
      </if>
      ORDER BY t.create_time DESC
      limit #{page_count}
	</select>
	
  <!-- 分页查询-后台提现记录 -->
	<select id="selectWithdrawListAll" resultType="hashmap" parameterType="hashmap">
      SELECT
        t.withdraw_cash_id,
        t.user_id,
        t.user_name,
        t.nick_name,
        t.actual_amount,
        t.alipay_account_number,
        t.create_time,
        t.state AS status,
        t.remark,
      	t.handle_name
      FROM
          `t_withdraw_cash` t
      WHERE app_name = #{app_name}
	      <if test="status != null" >
	        AND t.state = #{status}
	      </if>
	      <if test="user_name != null" >
	        AND t.user_name like '%${user_name}%'
	      </if>
	      <if test="user_id != null" >
	        AND t.user_id = #{user_name}
	      </if>
      ORDER BY t.state=0 desc, t.create_time DESC
	</select>
	
  <!-- 查询-提现记录 -->
	<select id="selectWithdrawSizeById" resultType="hashmap" parameterType="string">
      SELECT
          actual_amount,user_id,initial_amount,state
      FROM
          `t_withdraw_cash` t
      WHERE
        t.withdraw_cash_id = #{withdraw_cash_id}
	</select>

</mapper>