<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">
    <contextName>logback</contextName>
    <property name="qingning.common.server.log.path" value="/usr/local/qingning-live/logs/qingning.server.common.log"/>
    <property name="qingning.lecture.server.log.path" value="/usr/local/qingning-live/logs/qingning.server.lecture.log"/>
    <property name="qingning.saas.server.log.path" value="/usr/local/qingning-live/logs/qingning.server.saas.log"/>
    <property name="qingning.user.server.log.path" value="/usr/local/qingning-live/logs/qingning.server.user.log"/>
    <property name="qingning.mq.log.path" value="/usr/local/qingning-live/logs/qingning.mq.log"/>
    <property name="qingning.db.log.path" value="/usr/local/qingning-live/logs/qingning.db.log"/>
    <property name="qingning.log.path" value="/usr/local/qingning-live/logs/qingning.log"/>
    <property name="qingning.server.error.log.path" value="/usr/local/qingning-live/logs/qingning.server.error.log"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="qingning.db.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.db.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.db.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="qingning.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>
    <!--MQ模块日志-->
    <appender name="qingning.mq.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.mq.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.mq.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <!--用户模块日志-->
    <appender name="qingning.user.server.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.user.server.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.user.server.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <!--讲师模块日志-->
    <appender name="qingning.lecture.server.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.lecture.server.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.lecture.server.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>
    <!--SaaS模块日志-->
    <appender name="qingning.saas.server.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.saas.server.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.saas.server.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>
    <!--通用模块日志-->
    <appender name="qingning.common.server.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.common.server.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.common.server.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>
    <!--异常日志-->
    <appender name="qingning.server.error.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${qingning.server.error.log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${qingning.server.error.log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="qingning.common.server" level="DEBUG" additivity="false">
        <appender-ref ref="qingning.common.server.log"/>
    </logger>

    <logger name="qingning.lecture.server" level="DEBUG" additivity="false">
        <appender-ref ref="qingning.lecture.server.log"/>
    </logger>

    <logger name="qingning.saas.server" level="DEBUG" additivity="false">
        <appender-ref ref="qingning.saas.server.log"/>
    </logger>

    <logger name="qingning.user.server" level="DEBUG" additivity="false">
        <appender-ref ref="qingning.user.server.log"/>
    </logger>

    <logger name="qingning.mq" level="DEBUG" additivity="false">
        <appender-ref ref="qingning.mq.log"/>
    </logger>

    <logger name="qingning" level="DEBUG" additivity="false">
        <appender-ref ref="qingning.log"/>
    </logger>

    <logger name="qingning.server.advice.exception" level="DEBUG" additivity="false">
        <appender-ref ref="qingning.server.error.log"/>
    </logger>

    <logger name="qingning.db.common.mybatis" level="DEBUG" additivity="false">
        <appender-ref ref="qingning.db.log"/>
    </logger>
    <logger name="java.sql" value="DEBUG">
        <appender-ref ref="qingning.db.log"/>
    </logger>
    <logger name="org.mybatis" value="DEBUG">
        <appender-ref ref="qingning.db.log"/>
    </logger>
    <logger name="o.s.jdbc" value="DEBUG">
        <appender-ref ref="qingning.db.log"/>
    </logger>

    <root level="debug">
        <appender-ref ref="console"/>
    </root>

</configuration>