<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gcw.message.persistence.mybatis.AreaMapper" >
   <resultMap id="BaseResultMap" type="gcw.message.persistence.entity.Nation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="parent" property="parent" jdbcType="VARCHAR" />
    <result column="lng" property="lng" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="is_activate" property="isActivate" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, province, city, district, parent, lng, lat, is_activate
  </sql>
  
  <select id="findAreaList" resultMap="BaseResultMap"   >
    select   <include refid="Base_Column_List" />
    from t_nation where id != 0
  </select>

</mapper>