<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gcw.message.persistence.mybatis.LeaguerMapper" >
   

	<select id="getUserList" resultType="java.util.Map" parameterType="java.util.Map">
	 select  user_id, avatar_address, nick_name, phone_number, gender, province_id, 
    city_id, district_id, create_time as record_time, leaguer_type, user_type, area, bill_num, distributor_id, 
    distributor_card_no
		from t_leaguer where 1=1 
		order by create_time desc
		limit 1000
	</select>
  
  <select id="getUserCount" resultType="java.lang.Long" parameterType="java.util.Map">
	 select  count(1)
		from t_leaguer  
	</select>
 
</mapper>