<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.mq.persistence.mybatis.LecturerMapper" >
  <resultMap id="BaseResultMap" type="qingning.mq.persistence.entity.Lecturer" >
    <id column="lecturer_id" property="lecturerId" jdbcType="VARCHAR" />
    <result column="course_num" property="courseNum" jdbcType="BIGINT" />
    <result column="total_student_num" property="totalStudentNum" jdbcType="BIGINT" />
    <result column="pay_student_num" property="payStudentNum" jdbcType="BIGINT" />
    <result column="total_time" property="totalTime" jdbcType="BIGINT" />
    <result column="live_room_num" property="liveRoomNum" jdbcType="BIGINT" />
    <result column="fans_num" property="fansNum" jdbcType="BIGINT" />
    <result column="pay_course_num" property="payCourseNum" jdbcType="BIGINT" />
    <result column="private_course_num" property="privateCourseNum" jdbcType="BIGINT" />
    <result column="total_amount" property="totalAmount" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    lecturer_id, course_num, total_student_num, pay_student_num, total_time, live_room_num,
    fans_num, pay_course_num, private_course_num, total_amount, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_lecturer
    where lecturer_id = #{lecturerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_lecturer
    where lecturer_id = #{lecturerId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="qingning.mq.persistence.entity.Lecturer" >
    insert into t_lecturer (lecturer_id, course_num, total_student_num,
    pay_student_num, total_time, live_room_num,
    fans_num, pay_course_num, private_course_num,
    total_amount, create_time, update_time
    )
    values (#{lecturerId,jdbcType=VARCHAR}, #{courseNum,jdbcType=BIGINT}, #{totalStudentNum,jdbcType=BIGINT},
    #{payStudentNum,jdbcType=BIGINT}, #{totalTime,jdbcType=BIGINT}, #{liveRoomNum,jdbcType=BIGINT},
    #{fansNum,jdbcType=BIGINT}, #{payCourseNum,jdbcType=BIGINT}, #{privateCourseNum,jdbcType=BIGINT},
    #{totalAmount,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="qingning.mq.persistence.entity.Lecturer" >
    insert into t_lecturer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lecturerId != null" >
        lecturer_id,
      </if>
      <if test="courseNum != null" >
        course_num,
      </if>
      <if test="totalStudentNum != null" >
        total_student_num,
      </if>
      <if test="payStudentNum != null" >
        pay_student_num,
      </if>
      <if test="totalTime != null" >
        total_time,
      </if>
      <if test="liveRoomNum != null" >
        live_room_num,
      </if>
      <if test="fansNum != null" >
        fans_num,
      </if>
      <if test="payCourseNum != null" >
        pay_course_num,
      </if>
      <if test="privateCourseNum != null" >
        private_course_num,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lecturerId != null" >
        #{lecturerId,jdbcType=VARCHAR},
      </if>
      <if test="courseNum != null" >
        #{courseNum,jdbcType=BIGINT},
      </if>
      <if test="totalStudentNum != null" >
        #{totalStudentNum,jdbcType=BIGINT},
      </if>
      <if test="payStudentNum != null" >
        #{payStudentNum,jdbcType=BIGINT},
      </if>
      <if test="totalTime != null" >
        #{totalTime,jdbcType=BIGINT},
      </if>
      <if test="liveRoomNum != null" >
        #{liveRoomNum,jdbcType=BIGINT},
      </if>
      <if test="fansNum != null" >
        #{fansNum,jdbcType=BIGINT},
      </if>
      <if test="payCourseNum != null" >
        #{payCourseNum,jdbcType=BIGINT},
      </if>
      <if test="privateCourseNum != null" >
        #{privateCourseNum,jdbcType=BIGINT},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="qingning.mq.persistence.entity.Lecturer" >
    update t_lecturer
    <set >
      <if test="courseNum != null" >
        course_num = #{courseNum,jdbcType=BIGINT},
      </if>
      <if test="totalStudentNum != null" >
        total_student_num = #{totalStudentNum,jdbcType=BIGINT},
      </if>
      <if test="payStudentNum != null" >
        pay_student_num = #{payStudentNum,jdbcType=BIGINT},
      </if>
      <if test="totalTime != null" >
        total_time = #{totalTime,jdbcType=BIGINT},
      </if>
      <if test="liveRoomNum != null" >
        live_room_num = #{liveRoomNum,jdbcType=BIGINT},
      </if>
      <if test="fansNum != null" >
        fans_num = #{fansNum,jdbcType=BIGINT},
      </if>
      <if test="payCourseNum != null" >
        pay_course_num = #{payCourseNum,jdbcType=BIGINT},
      </if>
      <if test="privateCourseNum != null" >
        private_course_num = #{privateCourseNum,jdbcType=BIGINT},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where lecturer_id = #{lecturerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="qingning.mq.persistence.entity.Lecturer" >
    update t_lecturer
    set course_num = #{courseNum,jdbcType=BIGINT},
    total_student_num = #{totalStudentNum,jdbcType=BIGINT},
    pay_student_num = #{payStudentNum,jdbcType=BIGINT},
    total_time = #{totalTime,jdbcType=BIGINT},
    live_room_num = #{liveRoomNum,jdbcType=BIGINT},
    fans_num = #{fansNum,jdbcType=BIGINT},
    pay_course_num = #{payCourseNum,jdbcType=BIGINT},
    private_course_num = #{privateCourseNum,jdbcType=BIGINT},
    total_amount = #{totalAmount,jdbcType=BIGINT},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP}
    where lecturer_id = #{lecturerId,jdbcType=VARCHAR}
  </update>

  <select id="findLectureByLectureId" resultType="hashmap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_lecturer
    where lecturer_id = #{lecturer_id}
  </select>

  <select id="findBanUserListInfo" resultType="hashmap" parameterType="java.util.HashSet" >
    select
    user_id, nick_name, avatar_address, create_time
    from t_user
    where user_id in
    <foreach collection="set" item="item" index="index" open="("
             separator="," close=")">
      #{item}
    </foreach>
  </select>
  <select id="findLectureId" resultType="hashmap" parameterType="hashmap" >
    select lecturer_id from t_lecturer 
    <if test="start_pos != null" >
        limit #{start_pos}
    </if>
    <if test="page_count != null and start_pos != null" >
        , #{page_count}
    </if>
    <if test="page_count != null and start_pos == null" >
    	limit #{page_count}
    </if>
  </select>
</mapper>