<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.user.db.persistence.mybatis.CourseAudioMapper" >
  <resultMap id="BaseResultMap" type="qingning.user.db.persistence.mybatis.entity.CourseAudio" >
    <id column="audio_id" property="audioId" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="audio_url" property="audioUrl" jdbcType="VARCHAR" />
    <result column="audio_pos" property="audioPos" jdbcType="BIGINT" />
    <result column="audio_time" property="audioTime" jdbcType="BIGINT" />
    <result column="audio_image" property="audioImage" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    audio_id, course_id, audio_url, audio_pos, audio_time, audio_image, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_course_audio
    where audio_id = #{audioId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_course_audio
    where audio_id = #{audioId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="qingning.user.db.persistence.mybatis.entity.CourseAudio" >
    insert into t_course_audio (audio_id, course_id, audio_url, 
      audio_pos, audio_time, audio_image, 
      create_time)
    values (#{audioId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, #{audioUrl,jdbcType=VARCHAR}, 
      #{audioPos,jdbcType=BIGINT}, #{audioTime,jdbcType=BIGINT}, #{audioImage,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="qingning.user.db.persistence.mybatis.entity.CourseAudio" >
    insert into t_course_audio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="audioId != null" >
        audio_id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="audioUrl != null" >
        audio_url,
      </if>
      <if test="audioPos != null" >
        audio_pos,
      </if>
      <if test="audioTime != null" >
        audio_time,
      </if>
      <if test="audioImage != null" >
        audio_image,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="audioId != null" >
        #{audioId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="audioUrl != null" >
        #{audioUrl,jdbcType=VARCHAR},
      </if>
      <if test="audioPos != null" >
        #{audioPos,jdbcType=BIGINT},
      </if>
      <if test="audioTime != null" >
        #{audioTime,jdbcType=BIGINT},
      </if>
      <if test="audioImage != null" >
        #{audioImage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="qingning.user.db.persistence.mybatis.entity.CourseAudio" >
    update t_course_audio
    <set >
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="audioUrl != null" >
        audio_url = #{audioUrl,jdbcType=VARCHAR},
      </if>
      <if test="audioPos != null" >
        audio_pos = #{audioPos,jdbcType=BIGINT},
      </if>
      <if test="audioTime != null" >
        audio_time = #{audioTime,jdbcType=BIGINT},
      </if>
      <if test="audioImage != null" >
        audio_image = #{audioImage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where audio_id = #{audioId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="qingning.user.db.persistence.mybatis.entity.CourseAudio" >
    update t_course_audio
    set course_id = #{courseId,jdbcType=VARCHAR},
      audio_url = #{audioUrl,jdbcType=VARCHAR},
      audio_pos = #{audioPos,jdbcType=BIGINT},
      audio_time = #{audioTime,jdbcType=BIGINT},
      audio_image = #{audioImage,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where audio_id = #{audioId,jdbcType=VARCHAR}
  </update>

  <select id="findAudioListByCourseId" resultType="hashmap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_course_audio
    where course_id = #{course_id} order by create_time asc
  </select>
</mapper>