<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qingning.common.db.persistence.mybatis.RoomDistributerRecommendMapper" >
  <resultMap id="BaseResultMap" type="qingning.common.db.persistence.mybatis.entity.RoomDistributerRecommend" >
    <id column="distributer_recommend_id" property="distributerRecommendId" jdbcType="VARCHAR" />
    <result column="distributer_id" property="distributerId" jdbcType="VARCHAR" />
    <result column="room_id" property="roomId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="recommend_num" property="recommendNum" jdbcType="BIGINT" />
    <result column="done_num" property="doneNum" jdbcType="BIGINT" />
    <result column="course_num" property="courseNum" jdbcType="BIGINT" />
    <result column="position" property="position" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="rq_code" property="rqCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    distributer_recommend_id, distributer_id, room_id, user_id, recommend_num, done_num,
    course_num, position, create_time, update_time, end_date, rq_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_room_distributer_recommend
    where distributer_recommend_id = #{distributerRecommendId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_room_distributer_recommend
    where distributer_recommend_id = #{distributerRecommendId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="qingning.common.db.persistence.mybatis.entity.RoomDistributerRecommend" >
    insert into t_room_distributer_recommend (distributer_recommend_id, distributer_id,
    room_id, user_id, recommend_num,
    done_num, course_num, position,
    create_time, update_time, end_date,
    rq_code)
    values (#{distributerRecommendId,jdbcType=VARCHAR}, #{distributerId,jdbcType=VARCHAR},
    #{roomId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{recommendNum,jdbcType=BIGINT},
    #{doneNum,jdbcType=BIGINT}, #{courseNum,jdbcType=BIGINT}, #{position,jdbcType=BIGINT},
    #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{endDate,jdbcType=DATE},
    #{rqCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="qingning.common.db.persistence.mybatis.entity.RoomDistributerRecommend" >
    insert into t_room_distributer_recommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="distributerRecommendId != null" >
        distributer_recommend_id,
      </if>
      <if test="distributerId != null" >
        distributer_id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="recommendNum != null" >
        recommend_num,
      </if>
      <if test="doneNum != null" >
        done_num,
      </if>
      <if test="courseNum != null" >
        course_num,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="rqCode != null" >
        rq_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="distributerRecommendId != null" >
        #{distributerRecommendId,jdbcType=VARCHAR},
      </if>
      <if test="distributerId != null" >
        #{distributerId,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="recommendNum != null" >
        #{recommendNum,jdbcType=BIGINT},
      </if>
      <if test="doneNum != null" >
        #{doneNum,jdbcType=BIGINT},
      </if>
      <if test="courseNum != null" >
        #{courseNum,jdbcType=BIGINT},
      </if>
      <if test="position != null" >
        #{position,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="rqCode != null" >
        #{rqCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="qingning.common.db.persistence.mybatis.entity.RoomDistributerRecommend" >
    update t_room_distributer_recommend
    <set >
      <if test="distributerId != null" >
        distributer_id = #{distributerId,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="recommendNum != null" >
        recommend_num = #{recommendNum,jdbcType=BIGINT},
      </if>
      <if test="doneNum != null" >
        done_num = #{doneNum,jdbcType=BIGINT},
      </if>
      <if test="courseNum != null" >
        course_num = #{courseNum,jdbcType=BIGINT},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="rqCode != null" >
        rq_code = #{rqCode,jdbcType=VARCHAR},
      </if>
    </set>
    where distributer_recommend_id = #{distributerRecommendId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="qingning.common.db.persistence.mybatis.entity.RoomDistributerRecommend" >
    update t_room_distributer_recommend
    set distributer_id = #{distributerId,jdbcType=VARCHAR},
    room_id = #{roomId,jdbcType=VARCHAR},
    user_id = #{userId,jdbcType=VARCHAR},
    recommend_num = #{recommendNum,jdbcType=BIGINT},
    done_num = #{doneNum,jdbcType=BIGINT},
    course_num = #{courseNum,jdbcType=BIGINT},
    position = #{position,jdbcType=BIGINT},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    end_date = #{endDate,jdbcType=DATE},
    rq_code = #{rqCode,jdbcType=VARCHAR}
    where distributer_recommend_id = #{distributerRecommendId,jdbcType=VARCHAR}
  </update>

  <select id="findRoomDistributerRecommendAllInfo" resultType="hashmap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_room_distributer_recommend
    where distributer_id = #{distributer_id} and room_id = #{room_id} and user_id = #{user_id} and rq_code = #{rq_code}
  </select>
</mapper>